<!DOCTYPE html>
<html style="height: 100%">
    <head>
        <meta charset="utf-8">
    </head>
    <body style="height: 100%; margin: 0">
        <div id="container" style="height: 100%"></div>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>
        <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
        <script type="text/javascript">
    $.ajax({
        type:'GET',
        url:"http://127.0.0.1:5000/tupu_data",
        dataType:'json',
        success:function(res){
            console.log(res);
            var dom = document.getElementById("container");
            var myChart = echarts.init(dom);
            var app = {};
            var option;
            var size = 60;
            var size1 = 30;
            var yy = 200;
            var yy1 = 250;
            var listdata = [];
            var links = [];
            var infos = res
            function setData(n, l) {
                listdata.push({
                    x: l * 70,
                    y: size + l * 10,
                    "name": n,
                    "symbolSize": 20,
                    "category": l,
                    "draggable": "true"
                })
            }

            function setLinkData(s, d) {
                links.push({
                    "source": s,
                    "target": d,
                    lineStyle: {
                        normal: {
                            color: 'source',
                        }
                    }
                })
            }

            for (var i = 0; i < infos.length; i++) {
                setData(infos[i], i)
                setLinkData(infos[i], infos[i+1])
            }

            var legendes = ["实体", "关系", "实体/属性"];
            var texts = [];
            for (var i = 0; i < legendes.length; i++) {
                texts.push({
                    "name": legendes[i],
                })
            }

            option = {
                title: {
                    text: "疾病知识图谱",
                    top: "top",
                    left: "left",
                    textStyle: {
                        // color: '#f7f7f7'
                    }
                },
                tooltip: {
                    formatter: '{b}'
                },
                toolbox: {
                    show: true,
                    feature: {
                        restore: {
                            show: true
                        },
                        saveAsImage: {
                            show: true
                        }
                    }
                },
                // backgroundColor: '#00000',
                legend: {
                    data: legendes,
                    textStyle: {
                        // color: '#fff'
                    },
                    icon: 'circle',
                    type: 'scroll',
                    orient: 'vertical',
                    left: 10,
                    top: 20,
                    bottom: 20,
                    itemWidth: 10,
                    itemHeight: 10
                },
                animationDuration: 1000,
                animationEasingUpdate: 'quinticInOut',
                series: [{
                    name: '知识图谱',
                    type: 'graph',
                    layout: 'force',
                    force: {
                        repulsion: 60,
                        gravity: 0.1,
                        edgeLength: 15,
                        layoutAnimation: true,
                    },
                    data: listdata,
                    links: links,
                    categories: texts,
                    roam: false,
                    label: {
                        normal: {
                            show: true,
                            position: 'inside',
                            formatter: '{b}',
                            fontSize: 16,
                            fontStyle: '600',
                        }
                    },
                    lineStyle: {
                        normal: {
                            opacity: 0.9,
                            width: 1.5,
                            curveness: 0
                        }
                    }
                }]
            };

            if (option && typeof option === 'object') {
                myChart.setOption(option);
            }
        }
    });

        </script>
    </body>
</html>
